@charset "utf-8";
/* CSS Document */
a:link {
	text-decoration: none;	
}
body {
	background-color: #e3e0cf;
	font-family: 'Cabin', sans-serif;
}
#grad {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, red , yellow); /* Standard syntax */
} 
h1 {
	text-align: center;	
}
#wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: #9fa8a3;
	min-width: 960px;
	background: #9fa8a3; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left, #9fa8a3, #c5d5cb); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(right, #9fa8a3, #c5d5cb); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #9fa8a3, #c5d5cb); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right, #9fa8a3 , #c5d5cb); /* Standard syntax */

	}
nav {
	text-align: center;
	padding-bottom: 10px;
	font-family: "Bookman Old Style";
	
	}
table {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 20px;
}
th, td {
	padding: 10px;	
}
